@import url('https://fonts.googleapis.com/css2?family=Nothing+You+Could+Do&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  justify-content: center;
  background-color: #e4a6e4;
  height: 100vh;
  margin-top: 10vh;
}

.App {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  font-family: 'Nothing You Could Do', cursive;
  min-width: 75%;
  color: #2c0136;
  background-color: #e4a6e4;
}

.Container {
  display: flex;
  align-items: center;
  flex-direction: column;
  min-width: 75%;
  border: 2px solid #2c0136;
  border-radius: 10px;
  padding: 20px;
}

.App-header {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  font-family: 'Nothing You Could Do', cursive;
  color: #2c0136;
  background-color: #e4a6e4;
}

.todoForm {
  width: 75%;
}

.form-wrapper {
  display: flex;
  align-items:center;
  justify-content:space-evenly;
  margin-bottom: 5px;
}

img {
  width: 75%;
  height: 150px;
  padding: 20px;
}

form {
  border: 1px solid #2c0136;
  border-radius: 10px;
  width: 100%;
}

.form-group {
  display: flex;
  align-items:center;
  justify-content:center;
  flex-direction: column;
}

label {
  font-size: 20px;
  font-weight: 600;
  padding: 10px;
}

.display {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border: 1px solid #2c0136;
  border-radius: 10px;
  min-width: 75%;
  padding: 20px;
  margin: 5px;
}

ul {
  width: 50%;
  list-style: none;
}

.todoList {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
}

li {
  font-size: 20px;
  font-weight: 600;
  text-decoration: underline;
}

.btn {
  font-weight: 700;
  color: #e4a6e4;
  background-color: #2c0136;
  margin: 10px;
}
.btn:hover {
  color: #2c0136;
  background-color: #e4a6e4;
}

@media only screen and (max-width: 870px) {
  img {
    display: none;
  }
  form {
    border: none;
  }
  label {
    font-size: 16px;
  }
  .form-group {
    align-items: center;
    flex-direction: column;
  }
  .userData {
    align-items: center;
  }
}